*{
    margin: 0;
    padding: 0;
    border: 0;
}
.contenedor{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas:
    'header header'
    'lateral catalogo'
    'pie pie'
}
.encabezado{
    background-color: blue;
    grid-area: header;
}
.lateral{
    background-color: green;
    grid-area: lateral;
}
.lateral ul{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.catalogo{
    background-color: #e4e4e4;
    grid-area: catalogo;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    place-items: center;
}
.pie{
    background-color: red;
    grid-area: pie;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 300px;
    background-color: white;
}
.fotos{
    width: 90%;
    height: 80%;
}
button{
    background-color: blue;
    width: 100%;
    height: 8%;
    color: white;
}